<p id="notice"><%= notice %></p>

<!-- <p>
  <strong>User:</strong>
  <%= @profile.user_id %>
</p>
<p>
  <strong>Current User:</strong>
  <%= current_user.id %>
</p> -->

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>User ID:</strong>
  <%= current_user.email %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @profile.birth_date %>
</p>

<p>
  <strong>Ssn:</strong>
  <%= @profile.ssn %>
</p>

<p>
  <strong>Home phone:</strong>
  <%= @profile.home_phone %>
</p>

<p>
  <strong>Work phone:</strong>
  <%= @profile.work_phone %>
</p>

<p>
  <strong>Cell phone:</strong>
  <%= @profile.cell_phone %>
</p>

<p>
  <strong>Case Number:</strong>
  <%= @profile.case_number %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %>

