<p id="notice"><%= notice %></p>

<p>
  <strong>Yn01:</strong>
  <%= @interview.yn01 %>
</p>

<p>
  <strong>Yn02:</strong>
  <%= @interview.yn02 %>
</p>

<p>
  <strong>Yn03:</strong>
  <%= @interview.yn03 %>
</p>

<p>
  <strong>Yn04:</strong>
  <%= @interview.yn04 %>
</p>

<p>
  <strong>Yn05:</strong>
  <%= @interview.yn05 %>
</p>

<p>
  <strong>Yn06:</strong>
  <%= @interview.yn06 %>
</p>

<p>
  <strong>Document:</strong>
  <%= @interview.document %>
</p>

<%= link_to 'Edit', edit_interview_path(@interview) %> |
<%= link_to 'Back', interviews_path %>
